body {
  margin: 0;
  padding: 0;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
nav p {
  font-size: 1.5em;
  padding-left: 15px;
  color: #7C6A0A;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}
nav ul li {
  list-style: none;
}
nav ul li button {
  background: none;
  border-style: none;
  cursor: pointer;
}
nav ul li svg {
  stroke: #7C6A0A;
}

article {
  width: 90%;
  color: #7C6A0A;
  padding: 70px 30px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 25px;
  padding-top: 50px;
}
article .impact-section h1 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}
article .impact-section p {
  width: 90%;
  font-size: 1.5em;
}
article .impact-section button {
  background: none;
  border-style: none;
  cursor: pointer;
}
article .impact-section button {
  width: 161px;
  padding: 20px;
  background-color: #FA9500;
  color: white;
  border-radius: 35px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 4px -1px #4f4f4f;
}
article .impact-section button:hover {
  transform: scale(1.02);
}
article img {
  width: 25vw;
  border-radius: 19px;
  box-shadow: 0px 0px 4px -1px #5a5a5a;
}

section {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
  margin: 0 auto;
  position: relative;
}
section .healthcare .card-section button, section .furniture .card-section button {
  display: none;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 290px;
  height: 476px;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px -1px #696969;
  display: block;
}
section .healthcare .product-card .like, section .furniture .product-card .like {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 12px;
  cursor: pointer;
}
section .healthcare .product-card .like svg, section .furniture .product-card .like svg {
  stroke: #7C6A0A;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  width: 80%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  box-shadow: 0px 0px 4px -1px #5a5a5a;
}
section .furniture .product-card {
  background-color: #BABD8D;
  color: white;
  box-shadow: 0px 0px 4px -1px #2e2e2e;
  display: block;
}
section .furniture .product-card button {
  display: none;
}
section .furniture .product-card .like svg {
  stroke: white;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  width: 30vw;
  display: flex;
  gap: 40px;
  color: #E86424;
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mission-section .earth p, .about-us .mission-section .innovation p {
  text-align: center;
  font-size: 1.5em;
}
.gallery {
  width: 100%;
  margin: 0 auto;
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.gallery .gallery-images .carousel {
  width: 30%;
  height: 464px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
  background-size: cover;
}
.gallery .gallery-images .carousel:hover {
  transform: scale(1.1);
}
.gallery .gallery-images button {
  display: none;
}

.location {
  color: #E86424;
}
.location h2 {
  padding: 60px 0;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.location .map iframe {
  width: 80vw;
}
.location h3, .location p {
  font-size: 1.5em;
}

footer {
  background-color: #FA9500;
  width: auto;
  height: auto;
  color: white;
  padding: 40px;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}

@media (max-width: 1052px) {
  article {
    flex-direction: column-reverse;
  }
  article .impact-section h1 {
    font-size: 2.6em;
  }
  article .impact-section p {
    font-size: 1.2em;
  }
  article .image-section {
    width: 70%;
    height: 70%;
    max-width: 295px;
  }
  article .image-section img {
    width: 100%;
    height: 100%;
  }
  .about-us .mission-section {
    flex-direction: column;
  }
  .about-us .mission-section .earth, .about-us .mission-section .innovation {
    width: 440px;
    height: 240px;
  }
  .about-us .mission-section .earth img, .about-us .mission-section .innovation img {
    width: 164px;
    height: 240px;
  }
  .card-section {
    position: relative;
    max-width: 400px;
  }
  .card-section button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
    border-radius: 50%;
  }
  .card-section button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
  }
  .card-section #right-btn-furniture,
  .card-section #left-btn-furniture,
  .card-section #right-btn-health,
  .card-section #left-btn-health {
    top: 46%;
    right: 5px;
  }
  .card-section #left-btn-furniture,
  .card-section #left-btn-health {
    left: 5px;
  }
  .card-section .product-card:not(.block) {
    display: none;
  }
  .card-section .product-card:has(.block) {
    display: block;
  }
  .gallery .gallery-images {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 4px -1px #5a5a5a;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 400px;
  }
  .gallery .gallery-images .carousel {
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
    border-radius: 10px;
  }
  .gallery .gallery-images .carousel:nth-child(3), .gallery .gallery-images .carousel:nth-child(4) {
    display: none;
  }
  .gallery button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
    border-radius: 50%;
  }
  .gallery button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
  }
  .gallery #right-btn,
  .gallery #left-btn {
    top: 50%;
    right: -30px;
  }
  .gallery #left-btn {
    left: -30px;
  }
  #right-btn-health,
  #left-btn-health,
  #right-btn-furniture,
  #left-btn-furniture,
  #right-btn,
  #left-btn {
    display: block;
    position: absolute;
    width: 49px;
    height: 50px;
  }
  #right-btn-health .arrow,
  #left-btn-health .arrow,
  #right-btn-furniture .arrow,
  #left-btn-furniture .arrow,
  #right-btn .arrow,
  #left-btn .arrow {
    transform: rotate(-45deg);
  }
  #left-btn-health .arrow,
  #left-btn-furniture .arrow,
  #left-btn .arrow {
    transform: rotate(135deg);
  }
}/*# sourceMappingURL=main.css.map */