$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 1.5em;
$padding-botton: 60px;

@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
        cursor: pointer;
    }
}

@mixin arrowRight {
    transform: rotate(-45deg);
}

@mixin arrowLeft {
    transform: rotate(135deg);
}

@mixin buttonCarouselStyle {
    button {
            height: 10%;
            border: none;
            outline: none;
            background: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            padding: 1em;
            display: flex;
            border-radius: 50%;
            .arrow {
                border: solid #fff;
                border-width: 0 4px 4px 0;
                display: inline-block;
                padding: 10px;
                transition: transform 0.3s ease-out;
                outline: none;
            }
    }
}

@mixin buttonPosition {
    display: block;
    position: absolute;
    width: 49px;
    height: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    @include flexCenter(row, space-between, center);
    padding: 15px;
    p {
        font-size: $paragraph-size;
        padding-left: 15px;
        color: $primary-text-color;
    }
    ul {
        @include flexCenter(row, space-between, flex-end);
        gap: 15px;
        li {
            list-style: none;
            @include buttonStyle;
            svg {
                stroke: $primary-text-color;
            }
        }
    }
}

article {
    width: 90%;
    color: $primary-text-color;
    padding: 70px 30px 0;
    margin: 0 auto;
    @include flexCenter(row, space-around, center);
    .impact-section {
        @include flexCenter(column, space-around, flex-start);
        gap: 25px;
        padding-top: 50px;
        h1 {
            font-size: 3em;
            padding: 0;
            margin: 0;
        }
        p {
            width: 90%;
            font-size: $paragraph-size;
        }
        @include buttonStyle;
        button {
            width: 161px;
            padding: 20px;
            background-color: $quaternary-color;
            color: white;
            border-radius: 35px;
            font-size: 1em;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                transform: scale(1.02);
            }
            box-shadow: 0px 0px 4px -1px #4f4f4f;
        }
    }
    img {
        width: 455px;
        height: 681px;
        border-radius: 19px;
        box-shadow: 0px 0px 4px -1px #5a5a5a;
    }
}

section {
    width: 90%;
    height: auto;
    margin: 0 auto;
    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }
    .healthcare {
        padding-bottom: $padding-botton;
        h2 {
            font-weight: 300;
            padding-bottom: $padding-botton;
        }
        .card-section {
            @include flexCenter(row, center, center);
            width: auto;
            height: auto;
            flex-wrap: wrap;
            column-gap: 200px;
            row-gap: 80px;
            margin: 0 auto;
            position: relative;
            button {
                display: none;
            }
        }
        .product-card {
            width: 290px;
            height: 476px;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 4px -1px #696969;
            display: block;
            .like {
                width: 100%;
                @include flexCenter(row, flex-end, center);
                padding-bottom: 12px;
                svg {
                    stroke: $primary-text-color;
                    cursor: pointer;
                }
            }
            .product-image {
                width: 100%;
                height: auto;
                @include flexCenter(row, center, center);
                img {
                    width: 80%;
                    height: 280px;
                    object-fit: cover;
                    border-radius: 6px;
                    box-shadow: 0px 0px 4px -1px #5a5a5a;
                }
            }
        }
    }
    .furniture {
        @extend .healthcare;
        .product-card {
            background-color: $tertiary-color;
            color: white;
            box-shadow: 0px 0px 4px -1px #2e2e2e;
            display: block;
            button {
                display: none;
            }
            .like {
                svg {
                    stroke: white;
                }
            }
        }
    }
}

.about-us {
    padding-bottom: $padding-botton;
    h2 {
        font-weight: bold;
        padding-bottom: $padding-botton;
    }
    .mission-section {
        @include flexCenter(row, space-evenly, center);
        .earth {
            $text-color: #E86424;
            width: 30vw;
            display: flex;
            gap: 40px;
            color: $text-color;
            img {
                width: 164px;
                height: 164px;
                object-fit: contain;
            }
            p {
                text-align: center;
                font-size: $paragraph-size;
            }
        }
    }
    .innovation {
        @extend .earth;
    }
}

.gallery {
    width: 100%;
    margin: 0 auto;
    h2 {
        font-weight: bold;
        padding-bottom: $padding-botton;
    }
    .gallery-images {
        @include flexCenter(row, space-between, center);
        width: 100%;
        .carousel {
            width: 30%;
            height: 464px;
            object-fit: cover;
            border-radius: 16px;
            cursor: pointer;
            background-size: cover;
            &:hover {
                transform: scale(1.1);
            }
        }
        button {
            display: none;
        }
    }
}

.location {
    $text-color: #E86424;
    color: $text-color;
    h2 {
        padding: $padding-botton 0;
    }
    .map {
        @include flexCenter(row, center, center);
        padding-bottom: $padding-botton;
        iframe {
            width: 80vw;
        }
    }
    h3, p {
        font-size: $paragraph-size;
    }
}

footer {
    background-color: $quaternary-color;
    width: auto;
    height: auto;
    color: white;
    padding: 40px;
    .social-media {
        @include flexCenter(row, center, center);
        gap: 40px;
        padding-bottom: 40px;
        img {
            width: 44px;
            height: 45px;
        }
    }
}

@media (max-width: 1052px) {
    article {
        flex-direction: column-reverse;
        .impact-section {
            h1 {
                font-size: 2.6em;
            }
            p {
                font-size: 1.2em;
            }
        }
        .image-section {
            width: 70%;
            height: 70%;
            max-width: 295px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .about-us {
        .mission-section {
            flex-direction: column;
            .earth {
                width: 440px;
                height: 240px;
                img {
                    width: 164px;
                    height: 240px;
                }
            }
        }
    }

    .card-section {
        position: relative;
        max-width: 400px;
        @include buttonCarouselStyle;
        #right-btn-furniture,
        #left-btn-furniture,
        #right-btn-health,
        #left-btn-health {
            top: 46%;
            right: 5px;
        }
        #left-btn-furniture,
        #left-btn-health {
            left: 5px;
        }
        .product-card:not(.block) {
            display: none;
        }
        .product-card:has(.block) {
            display: block;
        }
    }

    .gallery {
        .gallery-images {
            width: 80%;
            height: 500px;
            display: flex;
            justify-content: center;
            box-shadow: 0px 0px 4px -1px #5a5a5a;
            position: relative;
            margin: 0 auto;
            border-radius: 10px;
            max-width: 400px;
            .carousel {
                width: 100%;
                height: 100%;
                z-index: -2;
                background-size: cover;
                border-radius: 10px;
                &:nth-child(3),
                &:nth-child(4) {
                    display: none;
                }
            }
        }
        @include buttonCarouselStyle;
        #right-btn,
        #left-btn {
            top: 50%;
            right: -30px;
        }
        #left-btn {
            left: -30px;
        }
        $color_1: #fff;
    }

    #right-btn-health,
    #left-btn-health,
    #right-btn-furniture,
    #left-btn-furniture,
    #right-btn,
    #left-btn {
        @include buttonPosition;
        .arrow {
            @include arrowRight;
        }
    }
    #left-btn-health,
    #left-btn-furniture,
    #left-btn {
        .arrow {
            @include arrowLeft;
        }
    }
}
